#mlflow==2.9.2
mlflow
scikit-learn==1.5.0
#scikit-learn
#pandas==2.2.2
pandas
#numpy==1.26.4
numpy
#fastapi==0.112.0
fastapi
#uvicorn[standard]==0.30.1
uvicorn
#joblib==1.4.2
joblib
#pydantic==2.8.0
pydantic

